{% extends 'administracao.html.twig' %}

{% block body %}
    <section class="login">
        <div class="container mt-30 mb-30">
            <h2>Usuario</h2>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ usuario.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ usuario.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}