{% extends 'home.html.twig' %}

{% block bodyClass %}home interna{% endblock %}

{% block body %}
    <section class="internas text-center" style="background-image: url({{ asset("img/internas/internas.jpg") }});">
        <span class="font-30">{{ estabelecimento.nome }}</span>
    </section>
    <section class="login">
        <div class="container mt-30 mb-30">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Historia</th>
                    <td>{{ estabelecimento.historia }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}