{% extends 'home.html.twig' %}

{% block bodyClass %}home interna{% endblock %}

{% block body %}
<section class="internas text-center" style="background-image: url({{ asset("img/internas/internas.jpg") }});">
    <span class="font-30">CADASTRAR</span>
</section>
<section class="cadastrar">
    <div class="container mt-30 mb-30">
        <div class="row">
            <div class="form-login col-12 offset-md-3 col-md-6">
                <form action="{{ path('cadastrar_new') }}" method="post"
                enctype="multipart/form-data">
                    <fieldset>
                        <legend>Dados de Acesso</legend>
                        <label for="email">Informe seu E-mail</label>
                        <input type="email" id="email" name="email" required="required" />
                        <label for="login">Informe seu Login</label>
                        <input type="text" id="login" name="login" required="required" />
                        <label for="password">Informe sua Senha</label>
                        <input type="password" id="password" name="password" required="required" />
                        <label for="imagem_perfil">Informe a Imagem de Perfil</label>
                        <input type="file" id="imagem_perfil" name="imagem_perfil" required="required" />
                        <p class="text-center">Sou um...</p>
                        <span class="tipo_cadastro text-center">
                            <input type="radio" id="tipo_musico" name="tipo" value="musico" required="required" checked="checked" />
                            <label for="tipo_musico">Músico</label>
                        </span>
                        <span class="tipo_cadastro text-center">
                            <input type="radio" id="tipo_estabelecimento" name="tipo" value="estabelecimento" required="required" />
                            <label for="tipo_estabelecimento">Estabelecimento</label>
                        </span>
                    </fieldset>
                    <fieldset id="fieldset_musico" style="display: block;">
                        <legend>Dados do Músico/Banda</legend>
                        <label for="nome_musico">Informe o nome do(a) Músico/Banda</label>
                        <input type="text" id="nome_musico" name="nome_musico" required="required" />
                        <label for="historia_musico">Informe sua História</label>
                        <textarea id="historia_musico" name="historia_musico"></textarea>
                        <label for="categorias">Informe suas Categorias</label>
                        <select id="categorias" name="categorias[]" multiple="multiple"></select>
                    </fieldset>
                    <fieldset id="fieldset_estabelecimento" style="display: none;">
                        <legend>Dados do Estabelecimento</legend>
                        <label for="nome_estabelecimento">Informe o nome do Estabelecimento</label>
                        <input type="text" id="nome_estabelecimento" name="nome_estabelecimento" required="required" />
                        <label for="historia_estabelecimento">Informe sua História</label>
                        <textarea id="historia_estabelecimento" name="historia_estabelecimento"></textarea>
                        <label for="estado">Informe seu Estado</label>
                        <select id="estado" required="required"></select>
                        <label for="cidade">Informe sua Cidade</label>
                        <select id="cidade" required="required"></select>
                        <label for="bairro">Informe seu Bairro</label>
                        <select id="bairro" name="bairro" required="required"></select>
                        <label for="endereco">Informe seu Endereço</label>
                        <input type="text" name="endereco" id="endereco" required="required" />
                    </fieldset>
                    <input type="submit" value="Cadastrar" class="btn btn-hire" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            var $musico = $("fieldset#fieldset_musico");
            var $estabelecimento = $("fieldset#fieldset_estabelecimento");

            hideRequired($estabelecimento);
            categoriasJson();

            $("input#tipo_musico").on("click", function(){
                $musico.show();
                $estabelecimento.hide();
                showRequired($musico);
                hideRequired($estabelecimento);
            });
            $("input#tipo_estabelecimento").on("click", function(){
                $estabelecimento.show();
                $musico.hide();
                showRequired($estabelecimento);
                hideRequired($musico);
                estadosJson();
            });

            $("select#estado").on("change", function(){
                cidadesJson($(this).val());
            });

            $("select#cidade").on("change", function(){
                bairrosJson($(this).val());
            });
        });
    </script>
{% endblock %}