.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}

input,
select,
textarea{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

a,
button{
    white-space: normal !important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body header{
    background-color: #72357f;
}

body main.administracao{
    background-color: #3e3e3e;
}

body main.administracao section.menu,
body main.administracao section.body{
    padding: 20px 15px;
}

body main.administracao section.menu ul{
    padding: 0px;
}

body main.administracao section.menu ul li{
    display: block;
}

body main.administracao section.menu ul li a{
    font-weight: 500;
    color: white;
}

body main.administracao section.body{
    background-color: white;
}

body footer section.copyright{
    padding: 20px 0px;
    background-color: #72357f;
    color: white;
    font-weight: 300;
}

body header section.logo{
    padding: 20px 15px;
    font-weight: 700;
    color: white;
}

body header section.logo span{
    font-size: 11px;
}

body header section.adminbar{
    padding: 20px 15px;
}

body header section.adminbar ul{
    padding: 0px;
    margin: 0px;
}

body header section.adminbar ul li{
    display: table-cell;
    width: 1%;
}

@media(max-width: 991px){
    body header section.adminbar ul li{
        display: block;
        width: auto;
    }
}

body header section.adminbar ul li a{
    font-weight: 500;
    color: white;
}