.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}

a,
button{
    white-space: normal !important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body header{
    background-color: #72357f;
}

body main{
    background-color: #3e3e3e;
}

body main section.menu,
body main section.body{
    padding: 20px 15px;
}

body main section.menu ul li{
    display: block;
}

body main section.menu ul li a{
    font-weight: 500;
    color: white;
}

body main section.body{
    background-color: white;
}

body footer section.copyright{
    padding: 20px 0px;
    background-color: #72357f;
    color: white;
    font-weight: 300;
}

body header section.logo{
    padding: 20px 15px;
    font-weight: 700;
    color: white;
}

body header section.logo span{
    font-size: 11px;
}