{% extends 'base.html.twig' %}

{% block base %}
<main>
    <section class="container">
        <div class="row">
            <div class="col-12 text-center">
                RONALDO
            </div>
        </div>
    </section>
</main>
{% endblock %}