<form method="post" action="{{ path('video_delete', {'id': video.id}) }}" onsubmit="return confirm('Tem certeza que quer deletar esta imagem?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
    <button class="btn btn-danger">Deletar</button>
</form>