{% extends 'administracao.html.twig' %}

{% block body %}
    <form action="{{ path('video_new') }}" method="post"
    enctype="multipart/form-data">
        <fieldset>
            <legend>Adicionar Vídeo</legend>
            <label for="titulo">Informe o Titulo do vídeo</label>
            <input type="text" id="titulo" name="titulo" required="required" />
            <label for="descricao">Informe a Descrição do vídeo</label>
            <input type="text" id="descricao" name="descricao" required="required" />
            <label for="url">Informe a URL do vídeo</label>
            <input type="text" id="url" name="url" required="required" />
        </fieldset>
        <input type="submit" value="Cadastrar" class="btn btn-hire" />
    </form>
{% endblock %}