{% extends 'base.html.twig' %}

{% block bodyClass %}administracao{% endblock %}

{% block base %}
<header>
    <div class="container">
        <div class="row">
            <section class="logo col-12 col-lg-3 pt-20 pb-20 text-center">
                <a href="{{ path("administracao") }}">
                    HIRE BAND <span>Área do usuário</span>
                </a>
            </section>
            <section class="adminbar col-12 offset-lg-5 col-lg-4 text-right">
                <ul>
                    <li>
                        <a href="{{ path("home") }}">Voltar para o Site</a>
                    </li>
                    <li>
                        <a href="{{ path("logout") }}">Sair</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <section class="menu col-12 col-lg-3">
                <ul>
                    <li>
                        <a href="{{ path('usuario_index') }}">Informações do usuário</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Fotos</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Mensagens</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Telefones</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">E-mails</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Videos</a>
                    </li>
                    {% block menu %}{% endblock %}
                </ul>
            </section>
            <section class="body col-12 col-lg-9">
                {% block body %}{% endblock %}
            </section>
        </div>
    </div>
    {% block main %}{% endblock %}
</main>
{% endblock %}