{% extends 'administracao.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<p class="text-center font-20">
    -- Administração HireBand Online --
</p>
<p>
    {{ usuario.getEmail }}
</p>
{% endblock %}
