{% extends 'administracao.html.twig' %}

{% block body %}
    <form action="{{ path('foto_new') }}" method="post"
    enctype="multipart/form-data">
        <fieldset>
            <legend>Adicionar Foto</legend>
            <label for="descricao">Informe a Descrição da foto</label>
            <input type="text" id="descricao" name="descricao" required="required" />
            <label for="imagem">Selecione a Imagem</label>
            <input type="file" id="imagem" name="imagem" />
        </fieldset>
        <input type="submit" value="Cadastrar" class="btn btn-hire" />
    </form>
{% endblock %}