{% extends 'home.html.twig' %}

{% block title %} - Busca por Estabelecimentos{% endblock %}
{% block bodyClass %}home interna{% endblock %}

{% block body %}
    <section class="internas text-center" style="background-image: url({{ asset("img/internas/internas.jpg") }});">
        <span class="font-30">Busca por Estabelecimento</span>
    </section>
{% endblock %}
